Tests: test-build
Restrictions: superficial
Depends: build-essential, pkg-config, libacl1-dev

Tests: test-func
Restrictions: flaky rw-build-tree
Depends: acl

Tests: test-func-root
Restrictions: flaky rw-build-tree needs-root
Depends: acl
