#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# The following architectures still fail the test suite:
#   hurd-any
#     (operation not supported)
#   kfreebsd-any
#     (function not implemented, BSD directory inheritance semantics)
ifneq (,$(filter $(DEB_HOST_ARCH_OS),hurd kfreebsd))
  TESTS_FLAKY = yes
endif

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --bindir=/bin

override_dh_auto_test:
ifeq ($(TESTS_FLAKY),yes)
	@echo "Notice: Running tests in flaky mode, errors will be ignored."
endif
	$(if $(TESTS_FLAKY),-)dh_auto_test

override_dh_installchangelogs:
	dh_installchangelogs --no-trim doc/CHANGES
